# -------------------------
# Logs
# -------------------------
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# -------------------------
# Dependencies / build
# -------------------------
node_modules/
dist/
dist-ssr/

# -------------------------
# Environment files (ignore ALL .env* anywhere)
# -------------------------
**/.env*
!/.env.example
!**/.env.example

# -------------------------
# Editor / IDE
# -------------------------
.vscode/
!.vscode/extensions.json
.idea/

# -------------------------
# OS / misc
# -------------------------
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# -------------------------
# Misc
# -------------------------
*.local
*.log
*.local
